<div class="page-wrapper" [class.christmas-theme]="showChristmasTheme">
  <!-- Christmas Snow Effect -->
  <div class="snowfall" *ngIf="showChristmasTheme">
    <div
      class="snowflake"
      *ngFor="let flake of snowflakes; let i = index"
      [ngStyle]="getSnowflakeStyle(i)">
      ❄
    </div>
  </div>

  <!-- Christmas Banner -->
  <div class="christmas-banner" *ngIf="showChristmasTheme">
    <div class="christmas-banner-content">
      <span class="christmas-icon">🎄</span>
      <span class="christmas-text">Happy Holidays! Special Christmas Offers Available</span>
      <span class="christmas-icon">🎅</span>
    </div>
  </div>

  <!-- Christmas Decorations -->
  <div class="christmas-decorations" *ngIf="showChristmasTheme">
    <div class="ornament ornament-left">🔴</div>
    <div class="ornament ornament-right">🔴</div>
    <div class="lights-string"></div>
  </div>

  <app-hero></app-hero>
  <app-products></app-products>
  <app-services></app-services>
  <app-quote-form></app-quote-form>
</div>
